<div class="edit-add-student-container">
  <div class="student-form">
    <div class="edit-add-form-title">
      <div *ngIf="selectedStudent.id; else elseBlock">
        Edit Student
      </div>
      <ng-template #elseBlock>
        Add New Student
      </ng-template>
    </div>
    <mat-divider></mat-divider>
    <form>
      <table class="flex-table">
        <tr>
          <td>
            <!--First Name-->
            <mat-form-field class="first-name-input">
              <mat-label>First name</mat-label>
              <input matInput [(ngModel)]="selectedStudent.firstName" name="first">
            </mat-form-field>
          </td>
          <td>
            <!--Last Name-->
            <mat-form-field class="last-name-input">
              <mat-label>Last Name</mat-label>
              <input matInput [(ngModel)]="selectedStudent.lastName" name="last">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <!--Course Options-->
      <div class="radio-buttons">
        <label for="course">Course: </label>
        <mat-radio-group
          color="primary"
          id="course"
          aria-label="Select Course"
          [(ngModel)]="selectedStudent.course"
          name="course"
        >
          @for (course of courses; track course) {
            <mat-radio-button class="radio-button" [value]="course">{{ course }}</mat-radio-button>
          }
        </mat-radio-group>
      </div>

      <!--Teacher Dropdown-->
      <div class="teacher-select">
        <mat-form-field>
          <mat-label>Select Teacher</mat-label>
          <mat-select [(value)]="selectedStudent.teacher" [compareWith]="isSameTeacher">
            @for (teacher of teachers; track teacher) {
              <mat-option [value]="teacher">{{ teacher.firstName }} {{ teacher.lastName }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!--Sport Dropdown-->
      <div class="sport-select">
        <mat-form-field>
          <mat-label>Select Sport</mat-label>
          <mat-select [(value)]="selectedStudent.sport" [compareWith]="isSameSport">
            @for (sport of sports; track sport) {
              <mat-option [value]="sport">{{ sport }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="date-picker">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input
            (dateChange)="onDateChange($event.value)"
            name="startDate"
            matInput
            [matDatepicker]="picker"
            [value]="dateStringToDate"
          >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox
          color="primary"
          class="is-active"
          (change)="onChecked($event)"
          [checked]="selectedStudent.isActive"
        >
          Is Active?
        </mat-checkbox>
      </div>

    </form>
    <div class="spacer"></div>
    <button mat-stroked-button color="primary"
            (click)="selectedStudent.id ? editStudent.emit(selectedStudent) : addStudent.emit(selectedStudent)
          " [disabled]="isButtonDisabled"
    >
      {{ selectedStudent.id ? 'Edit' : 'Add' }} Student
    </button>
  </div>
</div>

